{% extends "base.html" %}
{% block title %} Movie Details {% endblock title %} 

{% block content %}

<h1 align="center">List of your movies</h1>
   {% for movie in movies %}    
   <li class="list-group-item"> {{ movie.movie_name }}
        <a href = "{{ url_for('mov.rank', name = movie.movie_name) }}" class ="btn btn-outline-danger btn sm"> Rank  </a>      
        <a href = "{{ url_for('mov.deletemovie', id = movie.id) }}" class ="btn btn-outline-danger btn sm"> Delete  </a>                                 
   </li>   
    {% endfor %} 

{% endblock %}

