{% extends "base.html" %}
{% block title %} Modify Rank {% endblock title %} 

{% block content %}

<form method = "POST">
    <h3 align="center">Modify Rank</h3>

    <div class="form-group">
        <input type = "hidden" name = "_method" value = "PUT" />
        <label for = "rank"> Rank from 1-20 </label>
        <input 
        type = "text"
        class = "form-control"  
        id = "rank"
        name = "rank"  
        placeholder = "1-20"
        />
    </div>

    <br/>
    <button type = "submit" class = "btn btn-primary">Modify</button>
</form>

<br/>

{% endblock %}